# --- root ---
node_modules
dist
.env
.DS_Store
velonic-themes
pnpm-lock.yaml # lock file boleh di-commit per kebijakan tim, hapus baris ini jika ingin keep
# log & coverage
*.log
coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
